#
# A convenient place to add config options, nothing more.
#
CONFIG_DEVTMPFS=y
CONFIG_SYSVIPC=y
CONFIG_VT=y
# CONFIG_FB is not set
# CONFIG_FB_MSM is not set
# CONFIG_MSM_DBA is not set
# CONFIG_MSM_DBA_ADV7533 is not set
# CONFIG_FB_MSM_MDSS is not set
# CONFIG_FB_MSM_MDSS_WRITEBACK is not set
# CONFIG_FB_MSM_MDSS_HDMI_PANEL is not set
# CONFIG_FB_MSM_MDSS_XLOG_DEBUG is not set
# CONFIG_MSM_KGSL is not set
CONFIG_DRM=y
